<h1>Rutas <small> Normal y VIP</small></h1>
<hr>
<div class="col" *ngFor="let ruta of rutas; let i = index">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ruta1</h5>
                    <p class="card-text">{{ruta.ciudadorigen}}</p>
                    <p class="card-text">{{ruta.ciudaddestino}}</p>
                    <p class="card-text">{{ruta.precioruta}}</p>
                    <p class="card-text">{{ruta.descripcion}}</p>
                    <button (click)="verRuta(i)" type="button" class="btn btn-primary">Ver más...</button>
                </div>
            </div>
        </div>
    </div>
</div>